@using Examples.Models.Shared
@model UserInfoViewModel

<div style="border:1px dotted blue;margin:5px">
    <h3>User Info (view compoenent in Views/Shared)</h3>

    <p>Username: @Model.Username</p>
    <p>Last Login: @Model.LastLogin</p>
</div>