<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>get components</title>
    <script src="~/js/jquery.min.js"></script>
</head>
<body>
    <div>
        <h1>get components using jquery</h1>
        <input id="getViewComponent" type="button" name="name" value="Get" />

        <div id="result"></div>
    </div>
    <script>
        $(function () {
            $("#getViewComponent").click(function () {
                $.ajax({
                    method: 'GET',
                    url: '@Url.Action("UserInfo", "Components")'
                }).done(function (data, statusText, xhdr) {
                        $("#result").html(data);
                    }).fail(function (xhdr, statusText, errorText) {
                        $("#result").text(JSON.stringify(xhdr));
                    });
            });
        });
    </script>
</body>
</html>