@using Examples.Services
@using Examples.Models
@model UserViewModel
@inject IGreetingService Greeting

@{ 
    ViewBag.Title = "ASP.NET Core MVC";
}

<h2>i'm in the view page</h2>
<p>@Greeting.Greet(Model.Firstname, Model.Username)</p>

@section footer {
    <h3>footer from index page</h3>
}

@section links {
    <a href="#">link form index page</a>
}