
@using Examples.Models
@model MovieViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie</title>
    <style>
        .movie-tag {
            width: 500px;
        }

        .movie-title {
            font-weight: bold;
            font-size: x-large;
        }

        .movie-year {
            font-weight: normal;
            font-style: italic;
        }

        .movie-director {
            padding: 5px;
        }

        .movie-summary {
            padding: 5px;
        }

        .movie-stars {
            padding: 5px;
        }
    </style>
</head>
<body>
    <h2>hello</h2>
    <movie for-title="Title" for-year="ReleaseYear" for-director="Director" for-summary="Summary" for-stars="Starts" />
</body>
</html>
